@page "/dropzone"
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
@implements IAsyncDisposable
@inject FileService FileService;

<h1>Upload files!</h1>

<div @ref="dropZoneElement" class="drop-zone">
    <p>Drop a file</p>
    <InputFile OnChange="@OnFileSelected" @ref="inputFile" />
</div>

<Grid TItem="string"
      Class="table table-hover table-bordered table-striped"
      Data="FileService.LoadedFiles.Select(lf => lf.Name)"
      @ref="_grid"
      AllowSelection="false"
      Responsive="true">
    <GridColumns>
        <GridColumn TItem="string"
                    HeaderText="Filename"
                    Sortable="false">
            @context
        </GridColumn>
    </GridColumns>
</Grid>


@code {
    ElementReference dropZoneElement;
    InputFile inputFile;

    IJSObjectReference _module;
    IJSObjectReference _dropZoneInstance;

    private Grid<string> _grid = default!;
    private int maxAllowedFiles = 10;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Load the JS file
            _module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./Components/Pages/DropZone.razor.js");

            // Initialize the drop zone
            _dropZoneInstance = await _module.InvokeAsync<IJSObjectReference>("initializeFileDropZone", dropZoneElement, inputFile.Element);
        }
    }

    private void OnFileSelected(InputFileChangeEventArgs e)
    {
        FileService.LoadedFiles.Clear();
        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            FileService.LoadedFiles.Add(file);
        }
    }

    // Unregister the drop zone events
    public async ValueTask DisposeAsync()
    {
        if (_dropZoneInstance != null)
        {
            await _dropZoneInstance.InvokeVoidAsync("dispose");
            await _dropZoneInstance.DisposeAsync();
        }

        if (_module != null)
        {
            await _module.DisposeAsync();
        }
    }
}